.footer{
    background-image: url(https://i.pinimg.com/564x/2b/a2/9c/2ba29c1b208b65082d9f5910c20a9995.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:0px;
    margin-top: 50px;
}
h4{
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    font-style: italic;
    font-size: small;
    
}
p{
    margin-left: 50px;
    margin-top: 20px;
}







.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
    

}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top:3px solid #ff523b;
    width: 100%;
    max-width: 400px;

}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
p{
    margin-left: 100px;
}